* {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    background-color: #22272E;
    color: white;
    font-family: monospace;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2D333B;
}

::-webkit-scrollbar-thumb {
    background-color: #444C56;
    border-radius: 4px;
}

#comment-form {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

input[type = "text"] {
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: solid #444C56 1px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

input[type = "text"]:focus {
    border-color: #467CC1;
    outline-color: #467CC1;
}

button[type = "submit"] {
    padding: 10px;
    font-size: 20px;
    color: #ADBAC7;
    background-color: #1C2128;
    box-shadow: 0px 0px 10px -5px black;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button[type = "submit"]:hover {
    background-color: #2B3038;
}

.container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    max-width: 1000px;
    flex-direction: column;
    background-color: #22272E;
    border: solid #444C56 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px black;
}

.comment {
    display: flex;
    margin: 5px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    background-color: #22272E;
    border: solid #444C56 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px black;
}

.comment > h1 {
    color: #467CC1;
}