* {
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */

    --lightred: hsl(0, 100%, 67%);
    --orangeyyellow: hsl(39, 100%, 56%);
    --greenteal: hsl(166, 100%, 37%);
    --cobaltblue: hsl(234, 85%, 45%);

    /* Gradients */

    --lightslateblue-bg: hsl(252, 100%, 67%);
    --lightroyalblue-bg: hsl(241, 81%, 54%);

    --violetblue-circle: hsla(256, 72%, 46%, 1);
    --persianblue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --white: hsl(0, 0%, 100%);
    --paleblue: hsl(221, 100%, 96%);
    --lightlavender: hsl(241, 100%, 89%);
    --darkgrayblue: hsl(224, 30%, 27%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}